@import "../../../variables.css";

.filterMain{
  padding: 30px;
  padding-bottom: 20px;
  border-radius: var(--xborder-box);
  background-color: var(--box-mid-dark-red);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto;
  max-width: max-content;
}
 .mainSection, .subSection{
  display: flex;
  gap: 2vw;
  max-width: fit-content;
}
.subSection{
  height: 78px;
}
.boxRangeFilter{
  margin-top: 8px;
    width: 200px;
}
.moreFilter{
  justify-content: center;
  display: flex;
  gap: 5px;
  opacity: 0.5;
  color: var(--text-white);
}
.moreFilter button{
  font-weight: 600;
  color: var(--text-white);
  font-size: var(--text-s);
  background-color: transparent;
}
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .priceBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .priceBox div{
    text-align: center;
    font-size: var(--text-sm);
    color: var(--text-white);
  }
  .priceBox div h3{
    font-size: var(--text-s);
    color: var(--text-white);
    opacity: 0.6;
    font-weight: 100;
    margin-bottom: 5px;

  }
  .slider{
    height: 3px;
    position: relative;
    background: var(--box-white);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--box-white);
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 12px;
    margin-top: 2px;
    width: 12px;
    border-radius: 50%;
    background: var(--box-yello-light);
    pointer-events: auto;
    -webkit-appearance: none;
  }
  

  .buttonBuscaEscuro{
    background-color: var(--box-red-pink);
    border-radius: var(--xborder-box);
    width: 82px;
    height: 76px;
  }
  
  
  .searchInput::placeholder{
    color: var(--text-white);
    opacity: 0.6;
    font-weight: 500;
    font-size: var(--text-s);
}

.searchInput{
    background-color: var(--box-red-pink);
    color: var(--text-white);
    border-radius: 5px;
    outline: none;
}
.searchInput{
    padding: 16px;
    padding-inline: 25px;
    width: 50vw;
}
.priceBox div p{
  font-size: var(--text-s);
}
.searchBar{
  margin-bottom: var(--big-component-distance);
}
.divRangeSlider{
  position: relative;
}
.filterSide{
    position: sticky;
    top: 30px; 
    height: fit-content;
    background-color: var(--box-red-pink);
    padding: 25px;
    width: fit-content;
    border-radius: var(--xborder-box);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

@media (width< 992px){
    .searchInput{
        padding: 12px;
        padding-inline: 15px;
        width: 60vw;
    }
}
