@import "../../../variables.css";

.title{
    width: fit-content;
    gap: 2px;
    color: var(--text-dark-red);
    margin-bottom: var(--big-component-distance);
}
.titleLine{
    width: 75px;
    height: 3px;
    margin-inline: auto;
    background-color: var(--box-red-pink);
}

.sizeTitle{
    font-size: var(--text-xl);
    font-weight: 900;
}
@media (width < 992px) {
    .sizeTitle{
        font-size: var(--text-ml);
    }
}