@import "../../../variables.css";

.title{
    width: fit-content;
    font-weight: 900;
    gap: 2px;
    color: var(--text-dark-red);
    margin-bottom: var(--big-component-distance);
}
.titleLine, .subtitleLine{
    width: 75px;
    height: 3px;
    margin-inline: auto;
    background-color: var(--box-red-pink);
}
.sizeTitle{
    font-size: var(--text-xl);
    font-weight: 900;
}

.subtitle{
    width: fit-content;
    color: var(--text-dark-red);
    gap: 6px;
}
.sizesubtitle{
    font-size: var(--text-l);
    color: var(--text-dark-red);
}

.exportdatas{
    color: var(--text-dark-red);
    font-size: var(--text-sm);
    opacity: 0.6;
    font-weight: 700;
    text-decoration: underline;
}

.Price {
    color: var(--text-light-red);
    font-family: Montserrat;
    text-align: start;
    font-style: normal;
    gap: 10px;
}

.PromotionalPrice {
    font-size: var(--text-m);
    font-weight: 900;
    line-height: 90%; /* 16.2px */
    letter-spacing: 1.26px;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.ActualPrice {
    font-size: var(--text-xxl);
    letter-spacing: 2.8px;
    font-weight: 900;
    line-height: 90%;
}

.Taxes {
    font-size: var(--text-s);
    font-weight: 800;
    line-height: 130%;
}

.horizontalLine{
    background-color: var(--box-red-pink);
    height: 1px; 

}

.verticalLine{
    background-color: var(--box-dark-red);
    width: 1px; 
}

.isFurnishedText{
    color: var(--box-dark-red-option);
    font-size: var(--text-ml);
    font-weight: 500;
}

.descriptionTitlePropertySpecific{
    font-size: var(--text-l);
    font-weight: 900;
    color: var(--box-dark-red);
    text-transform: uppercase;  
    
}
.divDescriptionTitlePropertySpecific{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.lineDescriptionTitlePropertySpecific{
    width: 75px;
    height: 3px;
    background-color: var(--box-red-pink);
}

.verticalStrongLine{
    height: 89px;
    width: 3px;
    background-color: var(--box-red-pink);
}

.propertyPriceTitle{
    color: var(--box-dark-red);
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}

@media (width < 992px) {
    .sizeTitle{
        font-size: var(--text-ml);
    }
}