@import "@/app/variables.css";

.articleFirstContent{
    display: flex;
    width: fit-content;
    margin-inline: auto;
    flex-direction: row;
    gap: clamp(50px, 5vw, 80px);
}

.buttonIconDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}
.linkLogin{
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    color: var(--box-dark-red-option);
    justify-content: end;
    text-decoration: underline;
}
.enviroments-interestPoint{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 223px;
}

#descriptionProperty{
    font-size: var(--text-sm);
    color: var(--box-mid-dark-red);
    font-weight: 500;
}

#divDescriptionProperty{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.sectionPriceProperty{
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
    margin-top: 150px;
}

.containerGraphic{
    width: 890px;
    height: 405px;
    background-color: var(--box-red-pink);
    border-radius: 10px 0 0 10px;
}
@media (max-width: 992px) {
    .articleFirstContent{
        flex-direction: column;
        gap: 45px;
    }
    .enviroments-interestPoint{
        flex-direction: column;
    }
}
