@import "../variables.css";

.button{
    border-radius: 100px;
    background-color: var(--button-color);
    color: var(--text-white);
    font-weight:800;
}
.smallButton{
    font-size: var(--text-xs);
    padding: 7px;
    padding-inline: 25px;
}
.mediumButton{
    font-size: var(--text-xs);
    padding: 9px;
    padding-inline: 25px;
}
.largeButton{
    font-size: var(--text-s);
    padding: 11px;
    padding-inline: 25px;
}

.largeButton:hover, .mediumButton:hover, .smallButton:hover{
    filter: brightness(1.1)
}

.dropDown{
    color: var(--button-color);
    border-radius: var(--border-box);
    padding: 6px;
    padding-inline: 30px;
    padding-left: 15px;
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
    font-size: var(--text-s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    border: 1px var(--button-color) solid;
}
.optionDropDown{
    text-align: left
}

.label{
    font-size: var(--text-s);
    color: var(--text-white)
}
.input{
    padding: 10px;
    padding-inline: 15px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
}
.inputDropdown{
    padding: 10px;
    padding-inline: 15px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    border: 1px var(--button-color) solid;
}

.input::placeholder{
    font-size: var(--text-xs);
    color: var(--text-light-red);
    opacity: 0.6;
}

.smallInput{
    width: 120px;
}
.mediumInput{
    width: 170px;
}
.largeInput{
    width: 290px;
}
.extraLargeInput{
    width: 460px;
}


.smallInputDropdown{
    width: 120px;
}
.smallInputDropdown{
    width: 170px;
}
.smallInputDropdown{
    width: 290px;
}



.title{
    width: fit-content;
    gap: 2px;
    color: var(--text-dark-red);
}
.titleLine{
    width: 75px;
    height: 3px;
    margin-inline: auto;
    background-color: var(--box-red-pink);
}
.smallTitle{
    font-size: var(--text-ml);
    font-weight: 900;
}
.largeTitle{
    font-size: var(--text-xl);
    font-weight: 900;
}
.tableListData{
    width: 65vw;
}

.tableListData tr{
    display: flex;
}
.tableListData th, .tableListData td{
    text-align: left;
    flex: 1;
}
.tableListData th{
    font-size: var(--text-ml);
    color: var(--text-dark-red);
    font-weight: 700;
}
.tableListData td{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--text-black-50);
    font-size: var(--text-sm);
    color: var(--text-black);
    font-weight: 500;
    
}
.boxNavBarAdm {
    width: 170px;
    height: 38px;
    border: none;
    cursor: pointer;
    background-color: white; /* Cor padrão */
    transition: background-color 0.3s ease;
    color: var(--button-color);
    font-size: var(--text-sm);
    font-weight: 600;
}

.boxNavBarAdm.selected {
    background-color: var(--button-color);
    color: var(--text-white);
}

.boxNavBarAdmLeftCorner {
    border-radius: var(--border-button) 0 0 var(--border-button);
}

.boxNavBarAdmRightCorner {
    border-radius: 0 var(--border-button) var(--border-button) 0;
}


.filterSide{
    background-color: var(--box-red-pink);
    padding: 25px;
    width: fit-content;
    border-radius: var(--xborder-box);
    display: flex;
    flex-direction: column;
    gap: 15px;
}




.buttonBusca{
    padding: 15px;
    background-color: var(--box-white);
    width: fit-content;
    height: 35px;
    margin-top: 10px;
    margin-inline: auto;
    border-radius: var(--xborder-box);
}
.buttonBusca:hover {
    filter: brightness(0.9)

}



.rc-slider{
    width: 1000px;
    display: flex;
    height: 100px;
    margin-inline: auto;
    justify-content: center;
}
.rc-slider-rail{
    width: 10px;
    height: 10px;
    background-color: aqua;
}
.rc-slider-track{
    width: 300px;
    height: 50px;
    background-color: aquamarine;
}
  
 .rc-slider-step{
    width: 30px;
    height: 30px;
    background-color: black;
 }
  .rc-slider-handle{
    width: 30px;
    height: 30px;
    background-color: rgb(223, 135, 135);
  }

  
  
  































  .boxRangeFilter{
    width: 200px;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .priceBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .priceBox div{
    text-align: center;
    font-size: var(--text-sm);
    color: var(--text-white);
  }
  .priceBox div h3{
    font-size: var(--text-sm);
    color: var(--text-white);
    opacity: 0.6;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  .slider{
    height: 3px;
    position: relative;
    background: var(--box-white);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--box-white);
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 12px;
    margin-top: 2px;
    width: 12px;
    border-radius: 50%;
    background: var(--box-white);
    pointer-events: auto;
    -webkit-appearance: none;
  }
  