@import "../../../variables.css";

.boxNavBarAdm {
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: var(--text-sm);
    width: clamp(170px, 10vw, 200px);
    height: clamp(30px, 2.5vw, 40px);
    border: none;
    cursor: pointer;
    background-color: white; /* Cor padrão */
    transition: background-color 0.3s ease;
    color: var(--button-color);
    font-size: var(--text-sm);
    font-weight: 600;
}

.boxNavBarAdm.selected {
    background-color: var(--button-color);
    color: var(--text-white);
}

.boxNavBarAdmLeftCorner {
    border-radius: var(--border-button) 0 0 var(--border-button);
}

.boxNavBarAdmRightCorner {
    border-radius: 0 var(--border-button) var(--border-button) 0;
}

.HeaderOptions{
    display: flex;
    gap: 20px;
}
.headerOptionContainerTitleButton{
}
.headerOptionContainerOption{
    font-size: var(--text-s);
}
.HeaderOptions {
    font-size: var(--text-s);
    display: flex;
    align-items: center;
}
.navBarAdm{
    margin-bottom: 60px;
}
.headerContainer {
    background-color: var(--box-mid-dark-red);
    border-radius: var(--border-button);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;
    margin-top: 25px;
    margin-bottom: 80px;
    padding: 10px;
    padding-inline: 30px;
    width: 78vw;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerDesktop {
    flex-grow: 1;
}

.headerMobile {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .headerDesktop {
        opacity: 0;
        pointer-events: none; 
    }

    .headerMobile {
        opacity: 1;
        pointer-events: all;
        width: 359px;
    }
}
.headerOptionContainer{
    position: relative;
}
.headerOptionContainer div{
    background-color: var(--box-mid-dark-red);
}
.headerOptionContainer :last-child{
    border-bottom-right-radius: var(--border-box);
    border-bottom-left-radius: var(--border-box);

}
.headerOptionContainer .boxHeaderOption{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.boxHeaderOption{
    padding-bottom: 8px;
    margin-left: -10px;
    min-width: calc(100% + 10px);
}

.iconPlusTextHeaderOption{
    padding-top: 8px;
    padding-inline: 10px;

}

.headerOptionContainer button{
    font-size: var(--text-s);
    color: var(--text-white);
    background-color: var(--box-mid-dark-red);

}
.boxHeaderOption{

    background-color: var(--box-mid-dark-red);
    position: absolute;
    
}

.rotateIcon{
    rotate: 180deg;
}
