@import "../../../variables.css";



.boxNavBarAdm {
    width: 170px;
    height: 38px;
    border: none;
    cursor: pointer;
    background-color: white; /* Cor padrão */
    transition: background-color 0.3s ease;
    color: var(--button-color);
    font-size: var(--text-sm);
    font-weight: 600;
}

.boxNavBarAdm.selected {
    background-color: var(--button-color);
    color: var(--text-white);
}

.boxNavBarAdmLeftCorner {
    border-radius: var(--border-button) 0 0 var(--border-button);
}

.boxNavBarAdmRightCorner {
    border-radius: 0 var(--border-button) var(--border-button) 0;
}


.headerOptionContainer{
    position: relative;
}
.headerOptionContainer div{
    background-color: var(--box-mid-dark-red);
}
.headerOptionContainer :last-child{
    border-bottom-right-radius: var(--border-box);
    border-bottom-left-radius: var(--border-box);

}
.headerOptionContainer .boxHeaderOption{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.boxHeaderOption{
    margin-left: -20px;
    min-width: fit-content;
    width: 135px;
}
.headerOptionContainerTitle{
    padding: 8px;
    padding-inline: 10px;
}
.iconPlusTextHeaderOption{
    padding-bottom: 8px;
    padding-inline: 10px;

}

.headerOptionContainer button{
    font-size: var(--text-s);
    color: var(--text-white);
    background-color: var(--box-mid-dark-red);

}
.boxHeaderOption{

    background-color: var(--box-mid-dark-red);
    position: absolute;
    
}


.rotateIcon{
    rotate: 180deg;
}
