.boxNotification{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}
.identificator{
    font-size: var(--text-s);
    color: var(--text-dark-red);
    font-weight: 600;
}
.content{
    font-size: var(--text-xs);
    color: var(--text-dark-red);
}
.containerNotification:hover{
    background-color: var(--light-blue);
    cursor: pointer;
}

.containerNotification{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 890px;
    padding: 20px;
}
.groupInfos{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 100%;
}
.bola{
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background-color: black;
}
.newMessageLabel{
    font-size: var(--text-s);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--box-dark-red-option);
    width: fit-content;
}

.iconMensagem{
    display: flex;
    justify-content: end;
    align-items: center;
}

.conatinerTitulos{
    display: flex;
    justify-content: space-between;
    width: 95%;

}

.containerNotification:hover,
li:hover {
  background-color: transparent !important;
  outline: none;
  box-shadow: none;
}

.conatinerCorpoMensagem{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.conatinerTitulos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conatinerCorpoMensagem{
    display: flex;
    flex-direction: column;
}

.containerMesagemTitulos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

/* style={{ display: 'flex', flexDirection: "column", gap: "5px" }} */