.containerFilterListAction {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 100px;
    gap:50px;
}

.pageProprietorDesktop {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.dropdownSchedulingHistory{
    width: 70vw;
    display: flex;
    justify-content:"start";
    margin-top: 30px; 
    margin-left: 50px; 
    margin-bottom: 32px;
}

.dropdownFavorite{
    width: 78vw;
    display: flex;
    justify-content:"start"; 
    margin-top: 100px;
    margin-left:50px;
}

.dropdownSegundo{
    margin-left:20px;
}

@media (width <992px) {
    .containerFilterListAction {
        flex-direction: column;
        align-items: center;
    }

    .noHeaderPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 0px;
    }

    .dropdownSchedulingHistory{
        width: 100vw;
        display: flex;
        align-items: center;      
        justify-content: center;  
    }

    .dropdownFavorite{
        display: flex;
        align-items: center;     
        justify-content: center;  
        margin-left: 0px;
    }
}