
:root{
    --logo-gradient: linear-gradient(to right, #D6808E, #FFE1E6);
    --form-and-button-height: 36px;
    --xborder-box: 15px;
    --border-box: 5px;
    --border-button: 100px;
    --breakpoint-mobile: 992px;
    --big-component-distance: 60px;
    --margin-top-header: 24px;  

    --breakpoint-mobile: 992px;
    /*CORES*/
    --bg-color: #F2EBE3;
    --light-blue: rgba(45, 143, 255, 0.219);
    --dark-blue:rgba(45, 143, 255, 0.505);
    --modal-red: #AC3434;
    --icon-footer-color: #F2EBE3;
    --button-color: #B23F52;
    --box-red-pink: #B23F52;
    --box-white: #F9F9F9;
    --light-hover: #f9f9f926;
    --dark-hover: #0f0f0f2a;
    --arrow-page-manager: #CD6778;
    --arrow-page-text: #0f0f0f8a;

    --box-yello-light: #F2EBE3;
    --box-dark-red-option: #89565D;
    --box-dark-red: #421820;
    --box-mid-dark-red: #81303D;
    --button-color-hover: #F2EBE3;
    --text-white: #F9F9F9;
    --text-black: #0F0F0F;
    --text-black-50: #0f0f0f7c;
    --text-dark-red: #421820;
    --text-light-red: #CD6778;

    /*CONFIGURAÇÕES GLOBAIS*/
    --text-xxs: 10px;
    --text-xs: 12px;
    --text-s: 14px;
    --text-sm: 16px;
    --text-m: 18px;
    --text-ml: 20px;
    --text-l: 24px;
    --text-xl: 32px;
    --text-xxl: 40px;
}
[data-theme="lightPallete"]{
    --bg-color: #F2EBE3;
    --button-color: #B23F52;
    --box-red-pink: #B23F52;
    --box-white: #F9F9F9;
    --box-yello-light: #F2EBE3;
    --box-dark-red: #421820;
    --text-white: #F9F9F9;
    --text-black: #0F0F0F;
    --text-black-50: #0f0f0f7c;
    --text-dark-red: #421820;
    --text-light-red: #CD6778;
    --modal-red: #AC3434;

}
[data-theme="darkPallete"]{
    --bg-color: #421820;
    --button-color: #F9F9F9;
    --box-red-pink: #F9F9F9;
    --box-white: #B23F52;
    --box-yello-light: #421820;
    --box-dark-red: #F2EBE3;
    --text-white: #B23F52;
    --text-black: #F9F9F9;
    --text-black-50: #F9F9F9;
    --text-dark-red: #F2EBE3;
    --text-light-red: #0f0f0f7c;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


::-webkit-scrollbar {
    display: none;
}
body{
    scrollbar-width: none;
    background-color: var(--bg-color);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}

.lightHover:hover{
    transition: 0.5s ease;  
    filter: brightness(0.94) drop-shadow(0 0 2px var(--light-hover));

}
.darkHover:hover{
    transition: 0.5s ease;  
    filter: brightness(1.06) drop-shadow(0 0 2px var(--dark-hover));

}
a{
    text-decoration: none;
    color: var(--text-white);
    height: fit-content;
}