.bairro{
    font-weight: 700;
}
.valorImovel{
    font-weight: 800;
}
.valorImovelPromotional{
    font-size: var(--text-s);
    font-weight: 400;
    opacity: 0.5;
    text-decoration: line-through;
}
.bairro, .valorImovel{
    letter-spacing: 1.05px;
    text-transform: uppercase;
    font-size: 15px;
}
.rentingText{
    font-size: var(--text-xs);
    font-weight: 100;
}
.cardImovelSection{
    padding: 15px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.cidade{
    font-size: var(--text-xs);
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 0.77px;
}
.infoParcela{
    font-size: var(--text-xs);
    text-transform: uppercase;
}
.infoImovel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    opacity: 0.6;
}
.infoQuantity{
    font-size: 13px;
    font-weight: 700;
}
