@import "../../../variables.css";

.ownerForm {
    padding: 8px;
    background-color: var(--box-red-pink);
    border-radius: var(--border-box);
    width: 1060px;
    height: 669px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.addProprietorsRealtors{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.propertyForm{
    max-width: 1000px;
    display: flex;
    gap: 5%;
    background-color: var(--box-red-pink);
    padding: 60px;
    border-radius: var(--border-box);
}
.propertyForm .propertyFormGroup{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.propertyForm h3, .propertyForm h2{
    font-size: var(--text-sm);
    margin-bottom: 20px;
    color: var(--text-white);
}
.propertyForm h3{
    margin-top: 60px;

}
.propertyForm #smallerSection{
   

    width: 45%;
}
.propertyForm #biggerSection{
    
    width: 50% ;
}

.inputArticle {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 17px;
}
.previewImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trashcanPhoto{
    border-radius: 100%;
    right: 15px;
    top: 15px;
    width:39px;
    height: 39px;
    position: absolute;
    background-color: var(--box-dark-red-option);
    padding:8px;
}
.photoArrowLeft{
    left: -35px;
    bottom: -60px;
}
.photoArrowRight{
    
    right: -35px;
    bottom: -60px;;
}
.photoArrow{
    position: absolute;
    background: transparent;
}
.subPreviewImg{
    width: 23%;
    margin: 1%;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.markedImage{
    width: 23%;
    margin: 0;
    scale: 1.05;
    border: 2px solid var(--box-white);
}
.imgPerson, .imgProperty {
    width: 400px;
    height: 300px;
    border-radius: 1.864px;
    background-color: black;
    position: relative;
}
.imgProperty{
    margin-bottom: 100px;
}

.articleDataForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divButtonsAceptCancelForms{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 96px 0 0 220px;
}

.inputArticleMobile{
    display: none;
}

.divInputs {
    display: "flex";
    flex-direction: "row"; 
    gap: "15px";
}

@media(max-width: 992px){

    .ownerForm{
        width: 305px;
        height: 1450px;
        flex-direction: column;
        gap: 40px;
        margin: 0 auto;
    }
    
    .inputArticleDesktop{
        display: none;
    }

    .inputArticle{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 40px;
    }
    .imgPerson, .imgProperty {
        width: 210px;
        height: 209px;
        border-radius: 1.864px;
        background-color: black;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .divButtonsAceptCancelForms{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .divInputs{
        flex-direction: "column"; 
    }

}