@import "@/app/variables.css";


.ownerForm {
    padding: 8px;
    background-color: var(--box-red-pink);
    border-radius: var(--border-box);
    width: 1060px;
    height: 669px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.addProprietorsRealtors{
    display: flex;
    gap: 10px;

    flex-direction: column;
}
.chooseReponsible{
    width: fit-content;
    padding: 10px;
    padding-inline: 25px;
    border-radius: var(--border-box);

    background-color: var( --box-white-25);
}
.subtitleResponsibles{
    font-size: var(--text-s);
    font-weight: 400;
    color: var(--text-white-opacity-85);
}

.proprietorsContainer{
    all: unset;
    display: flex;
    flex-direction: column;
}
.realtorsContainer{
    overflow-y: auto;        
    display: flex;
    height: 60px;
    gap: 15px;
    scrollbar-width: 10px;
    flex-direction: column;
    scrollbar-color: #e2e2e2 #f1f1f100;
}
  
.realtorsContainer div h3, .proprietorsContainer h3{
    all: unset !important;
    font-weight: 600 !important;
    font-size: var(--text-sm) !important;
    color: var(--text-white) !important;
}
.realtorsContainer div p, .proprietorsContainer p{
    all: unset;
    font-size: var(--text-s);
    color: var(--text-white);
}
.customerBox{
    background-color: var(--box-realtor-non-available)
}
.propertyForm{
    max-width: 1000px;
    display: flex;
    gap: 5%;
    background-color: var(--box-red-pink);
    padding: 60px;
    border-radius: var(--border-box);
}
.propertyForm .propertyFormGroup{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.propertyForm h3, .propertyForm h2{
    font-size: var(--text-sm);
    margin-bottom: 20px;
    color: var(--text-white);
}
.propertyForm h3{
    margin-top: 50px;

}
.propertyForm #smallerSection{
   

    width: 45%;
}
.propertyForm #biggerSection{
    
    width: 50% ;
}

.inputArticle {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 17px;
}
.previewImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.previewImgPropertySpecific{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.hourLineOpacity{
    opacity: 0.2;
}
.hourLine, .hourLineOpacity{
    width: 500px;
    height: 1px;
    background-color: var(--hour-gray);
}
.hourLineCustomer, .hourLineCustomer{
    width: 500px;
    height: 1px;
    background-color: var(--box-red-pink);
}
.hourContentCustomer{
    color: var(--box-red-pink);
}
.hourButton:hover {
    
    cursor: pointer;
}
.hourButtonContainer{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 20px;
    scrollbar-color: #888888 #f1f1f100/* Cor da barra e do fundo */
}

.hourButton{
    all: unset;
}
.hourButtonSelect{
    all: unset;
    background-color: var(--box-realtor-available) !important;
}

.hourContent{
    margin-top: 2px;
    margin-bottom:20px;
    font-weight: 500;
    font-size: var(--text-sm);
    color:  var(--hour-gray);
}
.trashcanPhoto{
    border-radius: 100%;
    right: 15px;
    top: 15px;
    width:39px;
    height: 39px;
    position: absolute;
    background-color: var(--box-dark-red-option);
    padding:8px;
}
.photoArrowLeft{
    left: -35px;
    bottom: -60px;
}
.photoArrowLeftProperty{
    left: -35px;
    bottom: 0;
}
.photoArrowRightProperty{
    right: -35px;
    bottom: 0px;
}
.topContentModal{
    display: flex;
    height: 10%;
    justify-content: space-between;
}
.topContentModal p{
    font-size: var(--text-m);
    font-weight: 600;
    color: var(--text-white);
}
.modalNewScheduleBig{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: var(--box-red-pink);
    padding: 30px;
    border-radius: var(--xborder-box);
}
.bottomContentModal{
    
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}
.bottomContentModalData label{
    font-size: var(--text-m);
    color: var(--text-white);
    font-weight: 600;
}
.bottomContentModalData p{
    font-size: var(--text-s);
    font-weight: 200;
    color: var(--text-white);
    max-width: 100px;
    text-wrap: wrap;

}
.bottomContentModalData{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modalNewScheduleBigContent{
    display: flex;
    flex-direction: column;
    gap:25px;
    flex-grow: 1;
}
.modalNewSchedule{
    width: 200px;
    height: 150px;
    margin-bottom: 50px;
    background-color: var(--box-red-pink);
    padding: 30px;
    border-radius: var(--xborder-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.realtorsList div p{
    font-size: var(--text-m);
    color: var(--text-white);
}
.realtorsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 125px;
    overflow-y: scroll;
    scrollbar-color: var(--box-white) transparent;
    padding-right: 20px;
}
.datesList div p{
    font-size: var(--text-m);
    color: var(--text-white);
}
.datesList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 125px;
    overflow-y: scroll;
    scrollbar-color: var(--box-white) transparent;
    padding-right: 20px;
}
.photoArrowRight{
    
    right: -35px;
    bottom: -60px;
}
.photoArrow{
    position: absolute;
    background: transparent;
}
.photoArrowPropertySpecific{
    
    padding: 10px;
    border-radius: 100%;
    top: 0;
    height: fit-content;
    margin-top: 40%;
    background-color: var(--box-mid-dark-red);
    position: absolute;
}
.subPreviewImg{
    width: 23%;
    margin: 1%;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.subPreviewImgPropertySpecific{
    width: 11.5%;
    margin: 0.5%;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.markedImage{
    width: 23%;
    margin: 0;
    scale: 1.05;
    border: 2px solid var(--box-white);
}
.markedImagePropertySpecific{
    width: 11.5%;
    margin: 0;
    scale: 1.05;
    border: 2px solid var(--box-white);
}

.imgPerson, .imgProperty {
    width: 400px;
    height: 300px;
    border-radius: 1.864px;
    /*background-color: black;*/
    position: relative;
}
.imgProperty{
    margin-bottom: 100px;
}

.articleDataForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divButtonsAceptCancelForms{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    margin-top: 50px;
}

.inputArticleMobile{
    display: none;
}

.divInputs {
    display: "flex";
    flex-direction: "row"; 
    gap: "15px";
}

.titleModal{
    color: var(--text-white);
    margin-bottom: 20px;
    font-weight: 800;
    font-size: var( --text-l);
}

.containerModal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.descModal{
    max-width:400px; /* Define uma largura máxima */
    word-wrap: break-word;
    color: var(--text-white-opacity-85);
    font-weight: 500;
}


@media(max-width: 992px){

    .ownerForm{
        width: 305px;
        height: 1450px;
        flex-direction: column;
        gap: 40px;
        margin: 0 auto;
    }
    
    .inputArticleDesktop{
        display: none;
    }

    .inputArticle{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 40px;
    }
    .imgPerson, .imgProperty {
        width: 210px;
        height: 209px;
        border-radius: 1.864px;
        background-color: black;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .divButtonsAceptCancelForms{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .divInputs{
        flex-direction: "column"; 
    }

    .titleModal{
        font-size: var(--text-m);
    }

}