@import "../../../variables.css";

.tableListData {
    width: 65vw;
}

.tableListLine {
    width: 66vw;
    opacity: 0.5;
    background-color: var(--text-black);
    height: 0.5px;

}

.cardContainer{
    max-width: fit-content;
    display: flex;
    background-color: var(--box-white);
    border-radius: var(--mborder-box);
}
.mainImageContainer{
    background-color: black;
    border-top-left-radius: var(--mborder-box);
    border-bottom-left-radius: var(--mborder-box);
    width: 100px;
    aspect-ratio: 3/4;
}

.customerInfo{
    height: 100%;
    gap: 10px;
    justify-content: left;
    align-items: center;
    display: flex;
}
.textContentInfo{
    display: flex;
    flex-direction: column;
}
.textContentInfo .name{
    color: var(--text-dark-red);

    font-size: var(--text-s);
    font-weight: 700;
}
.textContentInfo .phone{
    color: var(--text-dark-red);

    font-size: var(--text-xs);
    font-weight: 300;
}
.mainContentContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.styleCustomerInfo{
    margin-bottom: 10px;
    width: 30px;
    height: 1px;
    background-color: var(--box-red-pink);
}


.mainContentContainerBottom{
    gap: 30px;
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: space-between;

}
.mainContentContainerTop .addressData .city{
    font-weight: var(--text-xs);
    color: var(--text-dark-red);
}
.mainContentContainerTop .addressData .neighborhood{
    font-weight: var(--text-m);
    font-weight: 800;
    color: var(--text-dark-red);

}
.mainContentContainerTop .hour{
    color: var(--text-dark-red);
    font-size: var(--text-s);
    font-weight: 400;
}
.mainContentContainerTop{
    display: flex;
    height: 40%;
    align-items: end;
    justify-content: space-between;
}
.imageContentInfo{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.marginSelectBox{
    margin-inline: 15px;
    margin-right: 25px;

}

.tableListLineHide {
    padding: 10px;
    padding-right: 14px;
}

.tableListData tr {
    transition: 0.5s ease;

    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
}

.tableListData thead tr {
    padding: 0px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
}

.tableListData th,
.tableListData td {
    text-align: left;
    flex: 1;
}

.checkbox {
    all: unset;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 1px;
    outline: 1px var(--text-black) solid;
    border-radius: var(--border-box);
}

.checkbox:checked {
    background-color: var(--dark-blue);
    outline: 1px var(--text-black) solid;

}

.selectedRow {
    transition: 0.5s ease;
    background-color: var(--light-blue);
}

.tableListData th {
    font-size: var(--text-sl);
    color: var(--text-dark-red);
    font-weight: 700;
}

.tableListData td {
    overflow: hidden;
    text-overflow: ellipsis;

    height: fit-content;
    font-size: var(--text-sm);
    color: var(--text-black);
    font-weight: 500;

}

.tableListData td div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;

}

.propertyType {
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--text-dark-red);
    text-transform: uppercase;
}

.countItemNumber {
    color: var(--box-mid-dark-red);
    font-size: (--text-s);
    font-weight: 700;
}

.divCountItems {
    display: flex;
    gap: 8px;
    align-items: center
}

.idProperty {
    font-size: var(--text-s);
    font-weight: 800;
    color: var(--text-light-red);
}

.addressProperty {
    font-size: var(--text-s);
    color: var(--text-light-red);
}

.realtorName {
    font-size: var(--text-l);
    color: var(--box-mid-dark-red);
    font-weight: 900;
    text-transform: uppercase;
}

.realtorEmail {
    font-size: var(--text-s);
    color: var(--text-light-red);
    font-weight: 500;
}

.realtorCreci{
    font-size: var(--text-s);
    color: var(--text-light-red);
    font-weight: 800;
}

.ou {
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-light-red);
}


.mainHomeInfoContainer {
    background: var(--box-mid-dark-red);
    width: 100%;
    min-width: 100vw;
    height: 34vh;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* height: 100%; */
    gap: 37vh;
}

.mainHomeInfoSubContainer {
    margin-top: 52px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    gap: 38vh;
    position: relative;
    color: var(--bg-color);
}

.mainHomeInfoEspecific {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
}

.mainHomeInfoEspecificP {
    text-wrap: wrap;
    width: 108px;
    opacity: 1;
    font-size: 16px;
    position: absolute;
    top: 70px;
    transition: top 0.3s ease-in-out;
    z-index: 1;
}

.textBehind {
    font-size: 13px;
    position: absolute;
    top: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.icone {
    position: absolute;
    top: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.mainHomeInfoEspecific:hover .icone {
    opacity: 0;
    top: -10px;
}

.mainHomeInfoEspecific:hover .mainHomeInfoEspecificP {
    top: 0;
}

.mainHomeInfoEspecific:hover .textBehind {
    opacity: 1;
    top: 50px;
}

.sliderContent {
    display: flex;
    gap: 22px;
    flex-direction: row;
    justify-content: center;
}

.sliderContentMain {
    transition: transform 0.5s ease-in-out;
}

#realtor {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--box-mid-dark-red);
}

#realtorNameVertical {
    color: black;
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 700;
}

#realtorNumberVertical {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-dark-red);
    font-size: var(--text-s);
    font-weight: 500;
}

.titleModal{
    color: var(--text-white);
    margin-bottom: 20px;
    font-weight: 800;
    font-size: var( --text-l);
}

.containerModal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.descModal{
    max-width:400px; /* Define uma largura máxima */
    word-wrap: break-word;
    color: var(--text-white-opacity-85);
    font-weight: 500;
}


.divDescriptionPropertySpecific {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
    white-space: nowrap;
}

.enviromentLi {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.enviromentName {
    font-size: var(--text-ml);
    color: var(--box-mid-dark-red);
    font-weight: 400;
}

.enviromentsUl {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

#descriptionProperty {
    font-size: var(--text-sm);
    color: var(--box-mid-dark-red);
    font-weight: 500;
}

.divDescriptionProperty{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}
.isFurnishedText{
    color: var(--box-dark-red-option);
    font-size: var(--text-ml);
    font-weight: 500;
}

.containerNoRegistration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.containerTitleNoRegistration{
    font-size: var(--text-xl);
    color: var(--text--mid-dark-red);
    font-weight: 800;
}

.textNoRegistration{
    font-size: var(--text-sl);
    color: var(--box-dark-red-option);
    font-weight: 600;
}

.containerTextNoRegistration{
    display: flex;
    text-align: center;
    width: 300px;
}

/* .containerStatusScheduling{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    font-size: var(--text-s);
} */

.containerStatusScheduling {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    font-size: var(--text-s);
    color: var(--text-white);
}

/* Cores baseadas no status */
.confirmado {
    background-color: var(--box-white-green);
}

.cancelado {
    background-color: var(--box-white-red);
}

.pendente {
    background-color: var(--box-white-gray);
}

.cardsContainer{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.modal {
    position: sticky;
    top: 100px; /* Distância inicial do topo */
    width: 80%;
    max-height: 10vh;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
.cardsAndFilter{
    display: flex;
    gap: 40px;
    margin-top: 60px;

}
@media (width >1600px){
    .cardsContainer{
        width: 1200px;
    }
}
@media (width <=1600px){
    .cardsContainer{
        width: 880px;
    }
}
@media (width <1200px){
    .cardsContainer{
        width: 570px;
    }
}
@media (width <900px){
    .cardsContainer{
        width: 270px;
    }
}
@media (width <650px){
    .cardsAndFilter{
        align-items: center;

        flex-direction: column;
    }
}


@media (width < 992px) {
    .divDescriptionPropertySpecific{
        align-items: center;
    }

    .mainHomeInfoContainer {
        background: var(--box-mid-dark-red);
        height: 65vh; 
        min-height: 250px; 
        flex-direction: column;
        /* gap: 0; */
    }

    .mainHomeInfoSubContainer{
        margin-top: -70px;
        margin-bottom: 40px
    }

    .textBehind{
        width: 150px;
        text-wrap: wrap ;
    }

    .mainHomeInfoContainer {
        background: var(--box-mid-dark-red);
        height: 65vh; 
        min-height: 250px; 
        flex-direction: column;
        /* gap: 0; */
        margin-top: -70px;
        margin-bottom: 40px
    }
  
    .titleModal{
        font-size: var(--text-m);
    }

    .containerTitleNoRegistration{
        font-size: var(--text-l);
        color: var(--text--mid-dark-red);
        font-weight: 800;
    }

    .textNoRegistration{
        font-size: var(--text-s);
        color: var(--box-dark-red-option);
    }

    .containerTextNoRegistration{
        width: 250px;
    }

    .containerStatusScheduling {
        width: 105px;
        height: 25px;
        border-radius: 5px;
        font-size: var(--text-xs);
    }
}