@import "../../../variables.css";

.tableListData{
    width: 65vw;
}
.tableListLine{
    width: 66vw;
    opacity: 0.5;
    background-color: var(--text-black);
    height: 1px;

}
.marginSelectBox{
    margin-inline: 15px;
    margin-right: 25px;

}
.tableListLineHide{
    padding: 10px;
}
.tableListData tr{
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
}
.tableListData thead tr{
    padding: 0px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
}
.tableListData th, .tableListData td{
    text-align: left;
    flex: 1;
}
.tableListData th{
    font-size: var(--text-sl);
    color: var(--text-dark-red);
    font-weight: 700;
}
.tableListData td{
    height: fit-content;
    font-size: var(--text-sm);
    color: var(--text-black);
    font-weight: 500;
    
}
