@import "../../../variables.css";

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--box-mid-dark-red); 
}


.diagonal {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--button-color-hover);
    clip-path: polygon(100% 100%, 60% 100%, 65% 0%, 100% 0%);
    background-position: center;
}


.logo {
    position: absolute;
    right: 1vw; 
    z-index: 3;
    top: 55%; 
    transform: translateY(-50%); 
}


.logoFundo {
    position: absolute; 
    top: -20px;
}


.form-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--box-yello-light);
    padding: 60px;
    border-radius: 15px;
    z-index: 3; /* Fica acima da diagonal */
    width: 290px;
    height: 380px;
}

.tituloLogin{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.EsqueceuSenha{
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    color: var(--box-dark-red-option);
    justify-content: end;
    text-decoration: underline;
}

.botao{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.ou{
    display: flex;
    justify-content: center;
    /* font-size: 12px;
    font-size: var(--text-xs); */
}

@media (max-width: 992px) {
    .logo {
        display: none; 
    }

    .diagonal{
        clip-path: none !important;
        background-color: var(--box-mid-dark-red);
    }
}


@media (max-width: 1330px) {
    
    .logoFundo {
        position: absolute;
        left: 0; 
        top: -20px;
    }
}