@import "../../../variables.css";

.articleFirstContent{
    display: flex;
    flex-direction: row;
    gap: 83px;
}

.buttonIconDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.enviroments-interestPoint{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 223px;
}

#descriptionProperty{
    font-size: var(--text-sm);
    color: var(--box-mid-dark-red);
    font-weight: 500;
}

#divDescriptionProperty{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.sectionPriceProperty{
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: 150px;
}

.containerGraphic{
    width: 890px;
    height: 405px;
    background-color: var(--box-red-pink);
    border-radius: 10px 0 0 10px;
}
@media (max-width: 992px) {
    .articleFirstContent{
        flex-direction: column;
        gap: 45px;
    }
    .enviroments-interestPoint{
        flex-direction: column;
    }
}
