@import "../../../variables.css";

.buttonBuscaClaro{
    background-color: var(--box-white);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-top: 10px;
    margin-inline: auto;
    border-radius: var(--xborder-box);
}
.dropDown{
    color: var(--button-color);
    border-radius: var(--border-box);
    padding: 6px;
    width: 150px;
    padding-inline: 30px;
    padding-left: 15px;
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
    font-size: var(--text-s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    border: 1px var(--button-color) solid;
}
.optionDropDown{
    text-align: left
}
.inputDropdown{
    padding: 10px;
    padding-inline: 15px;
    padding-right: 30px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    border: 1px var(--button-color) solid;
}

.input::placeholder{
    font-size: var(--text-xs);
    color: var(--text-light-red);
    opacity: 0.6;
}

.smallInput{
    width: 120px;
}
.mediumInput{
    width: 170px;
}
.largeInput{
    width: 290px;
}
.extraLargeInput{
    width: 460px;
}
.smallInputDropdown{
    width: 120px;
}
.mediumInputDropdown{
    width: 150px;
}
.largeInputDropdown{
    width: 200px;
}
.input{
    padding: 10px;
    padding-inline: 15px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
}
.button{
    border-radius: 100px;
    font-weight:800;
}
.smallButton{
    font-size: var(--text-xs);
    padding: 7px;
    padding-inline: 25px;
}
.mediumButton{
    font-size: var(--text-xs);
    padding: 9px;
    padding-inline: 25px;
}
.largeButton{
    font-size: var(--text-s);
    padding: 11px;
    padding-inline: 25px;
}


.selectBox{
    padding: 10px;
    border: 1px var(--text-black) solid;
    border-radius: var(--border-box);
    height: 0;
    width: 0;
}
.selectedBox{
    background-color: #000;
}
.notSelectedBox{
    background-color: transparent;
}

.footer{
    background-color: var(--box-mid-dark-red);
    color: var(--text-white);
    width: 100%;
    height: 373px;
    margin-top: auto;
}
.titleFooter{
    font-size: var(--text-ml);
    font-weight: 700;
}
.opacityContentFooter{
    display: flex;
    flex-direction: row;
    opacity: 0.6;
    align-items: center;
    gap: 10px;
}
.footerNavigation, .footerSocialMedia{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerNavigation{
 
}
.footerSocialMedia{
    
}
.quadradoFooter{
    background: var(--text-white);
    width: 35px;
    height: 35px;
}
.firtsArticleFooter, .secondArticleFooter{
    display: flex;
    flex-direction: column;
}
.firtsArticleFooter{
    
}
.secondArticleFooter{

}
.label{
    font-size: var(--text-s);
    color: var(--text-white)
}
.divInputFooter input::placeholder{
    color: var(--text-white);
    opacity: 0.6;
}
.divInputFooter input {
    animation: none !important;
    transition: none !important;
    outline: none !important;
    border: none;
  }

  .ActionButton {
    width: 45px;
    height: 45px;
    background-color: var(--box-red-pink);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.ActionButton svg {
    width: 60%;
    height: 60%;
    
}

.actionButtons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.graphicButton {
    background-color: var(--box-red-pink);
}

.addButton {
    background-color: var(--box-red-pink);
}

.editButton {
    background-color: var(--box-dark-red-option);
}

.deleteButton {
    background-color: var(--box-dark-red-option);
}

.archiveButton {
    background-color: var(--box-dark-red-option);
}
.containerComprarAlugar {
    display: flex;
    flex-direction: row;
}

.buttonComprarAlugar {
    width: 100px;
    height: 37.353px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-dark-red-option);
    transition: background-color 0.3s ease;
    font-weight: 500;
    color: var(--bg-color);
    opacity: 0.6;
}

.buttonComprarAlugar.selected {
    background-color: var(--text-white); 
    color: var(--box-mid-dark-red);
    font-size: var(--text-s);
    opacity: 1;
}

.content {
    margin-top: 20px;
    font-size: 16px;
}

.rotatedIcon {
    rotate: 180deg;
}

.toggleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}
  
.toggleButton {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.toggleButton input {
    display: none;
}

.toggleButton.active {
background-color: var(--text-white);
}

.buttonUploadPhoto{
    width: 30px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-white);
    border-radius: 999px;
}  
  