@import "../../../variables.css";

.mirrored{
    transform: scaleX(-1);

}
.toggleRentOrBuyLabel{
    color: var(--text-white);
    font-size: var(--text-s);
}
.nonEditable{
    background-color: var(--box-white);
    opacity: 0.2;
}
.nonEditableLabel, .nonEditable{
    color: var(--text-white-non-editable-placeholder) !important;
}
.arrowBackContainer{
    display: flex;
    
    margin-left: auto;
    width: 100px;
    height: fit-content;
    align-items: center;
}
.searchResult{
    color: var(--text--mid-dark-red);
    gap: 2px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 83vw;
    left: 0;
    right: 0;
}
summary {
    list-style: none;
    
}
.spanMultiSelect{
    height: fit-content;
    font-size: var(--text-s);
}
.labelDropdown{
    font-size: var(--text-s);

}
.customMultiselect{

    color: var(--text-light-red);
    cursor: pointer;
    background-color: var(--box-white);
    padding: 10px;
    padding-left: 15px;
    padding-right: 7px;

    border-radius: var(--border-box);
}
.smallCustomerMultiSelect{
    width: 200px;

}
.customMultiselect .arrow{
    margin-left: 5px;
    
}
.detailMultSelectBox{
    background-color: var(--box-white);
    padding: 10px;
    padding-inline: 15px;
    padding-right: 30px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/Icons/ArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px;

}
.detailMultSelectBox[open]{
    background-image: none 

}
.optionLabelMultiSelect{
    display: flex;
    gap: 5px ;
}
.dropdownOptions{
    left: 0;
    background-color: var(--box-white);
    position: absolute;
    margin-top: 5px;
    display: flex;
    width: 130px;
    padding: 10px;
    gap: 6px;
    flex-direction: column;
}
.detailMultSelectBox[open] summary{
    margin-bottom: 5px;
}
.buttonChooseQuantity button{
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;

    opacity: 0.25;
    height: 36px;
    width: 36px;
    border-radius: var(--border-box);
    background-color: var(--box-white);
    color: var(--text-dark-mid-red);
    font-size: var(--text-s);
}

.buttonChooseQuantity .selected{
    opacity: 1;
    background-color: var(--box-white);
}
.buttonChooseQuantity{
    display: flex;

    gap: 5px;
    background-color: transparent;

    color: var(--box-mid-dark-red);
}
.searchResultLine{
    height: 2px;
    width: 70vw;
    background-color: var(--button-color);
    margin-top: 10px;
    margin-left: 100px;
}
.arrowBackContainer p{
    font-weight: 600;
    font-size: var(--text-m);
    color: var(--arrow-page-manager);
}
.arrowBackContainer label{
    font-weight: 600;
    font-size: var(--text-m);
    color: var(--arrow-page-text);

}
.arrowBack{
    background-color: transparent;
    width: 40px;
    height: 40px;
}
.arrowBack:disabled{
    opacity: 0.3;
}

.buttonBuscaClaro{
    background-color: var(--box-white);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-top: 10px;
    
    border-radius: var(--xborder-box);
}
.dropDown{
    color: var(--button-color);
    border-radius: var(--border-box);
    padding: 6px;
    width: 150px;
    padding-inline: 30px;
    padding-left: 15px;
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
    font-size: var(--text-s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    border: 1px var(--button-color) solid;
}
.optionDropDown{
    text-align: left
}
.inputDropdown{
    cursor: pointer;
    padding: 10px;
    padding-inline: 15px;
    padding-right: 30px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
}

.inputDropdownNoLabel{
    cursor: pointer;
    padding: 10px;
    padding-inline: 15px;
    padding-right: 30px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/Icons/ArrowIcon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    background-size: 16px; 
    background-color: var(--bg-color);
    border: 1px solid var(--button-color);
    
}

.input::placeholder{
    font-size: var(--text-xs);
    color: var(--text-light-red);
    opacity: 0.6;
}

.smallInput{
    width: 120px;
}
.mediumInput{
    width: 170px;
}
.largeInput{
    width: 290px;
}

.extraLargeInput{
    width: 460px;
}
.smallInputDropdown{
    width: 120px;
}
.mediumInputDropdown{
    width: 150px;
}
.largeInputDropdown{
    width: 200px;
}
.input{
    padding: 10px;
    padding-inline: 15px;
    text-align: left;
    border-radius: var(--border-box);
    color: var(--text-light-red);
}
.button{
    border-radius: 100px;
    background-color: var(--button-color);
    color: var(--text-white);
    font-weight:800;
}
.smallButton{
    font-size: var(--text-xs);
    padding: 7px;
    padding-inline: 25px;
}
.mediumButton{
    font-size: var(--text-xs);
    padding: 9px;
    padding-inline: 25px;
}
.largeButton{
    font-size: var(--text-s);
    padding: 11px;
    padding-inline: 25px;
}


.selectBox{
    padding: 10px;
    border: 1px var(--text-black) solid;
    border-radius: var(--border-box);
    height: 0;
    width: 0;
}
.selectedBox{
    background-color: #000;
}
.notSelectedBox{
    background-color: transparent;
}

.footer{
    background-color: var(--box-mid-dark-red);
    color: var(--text-white);
    width: 100%;
    height: 373px;
    margin-top: auto;
}
.titleFooter{
    font-size: var(--text-ml);
    font-weight: 700;
}
.opacityContentFooter{
    display: flex;
    flex-direction: row;
    opacity: 0.6;
    align-items: center;
    gap: 10px;
}
.footerNavigation, .footerSocialMedia{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerNavigation{
 
}
.footerSocialMedia{
    
}
.quadradoFooter{
    background: var(--text-white);
    width: 35px;
    height: 35px;
}
.firtsArticleFooter, .secondArticleFooter{
    display: flex;
    flex-direction: column;
}
.firtsArticleFooter{
    
}
.secondArticleFooter{

}
.label{
    font-weight: 400;
    font-size: var(--text-s);
    color: var(--text-white)
}
.divInputFooter input::placeholder{
    color: var(--text-white);
    opacity: 0.6;
}
.divInputFooter input {
    animation: none !important;
    transition: none !important;
    outline: none !important;
    border: none;
  }
  .actionButtonHover:hover{
        scale: 1.2;
  }
  .actionButton {
    padding: 10px;
    background-color: var(--box-red-pink);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}



.actionButtons {

    display: flex;
    flex-direction: column;
    gap: 20px;
}



.changeRouteButton {
    margin-top: 7px;
    margin-bottom: 7px;
    transition: 0.5s ease;  

    background-color: var(--box-red-pink);
}

.actionSelectedButton {
    margin-top: 7px;
    margin-bottom: 7px;
    transition: 0.5s ease;  
    background-color: var(--box-dark-red-option);
}

.containerComprarAlugar {
    display: flex;
    flex-direction: row;
}

.buttonComprarAlugar {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;

    width: 100px;
    height: 37.353px;
    border-radius: var(--border-box);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--text-black);
    opacity: 0.25;
    background-color: var(--box-white); /* Ensure initial background is set */

}

.buttonComprarAlugar.selected {
    transition: background-color 0.3s ease;
    background-color: var(--text-white); 
    color: var(--text-light-red);
    font-size: var(--text-s);
    opacity: 1;
}

.content {
    margin-top: 20px;
    font-size: 16px;
}

.rotatedIcon {
    rotate: 180deg;
}


.nonClickableButton{
    margin-top: 0px;
    margin-bottom: 0px;
    transition: 0.5s ease;  
    opacity: 0.3;
    scale: 0.8;
}
.toggleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggleButton {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.toggleButton input {
    display: none;
}

.toggleButton.active {
background-color: var(--text-white);
}
.buttonUploadPhotoIcon{
    width: 30px;
    height: 30px;
    position: absolute; 
    bottom: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    background-color: var(--box-red-pink);
    border-radius: 999px;
    font-size: 20px;
    border: var(--box-red-pink) 2px solid;
}
.buttonUploadPhoto {
    width: 30px;
    height: 30px;
    position: absolute; /* Para posicionar o botão dentro do quadrado */
    bottom: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-white);
    border-radius: 999px;
    opacity: 0; 
    font-size: 20px;
    border: var(--box-red-pink) 2px solid;
}

.errorText {  
    color: #eead2d;
    font-weight: 600;
    font-size: var(--text-xs);
    position: absolute;
    margin-top: 65px;
    opacity: 0.8;
}

.inputContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

.buttonSlideBackContent, .buttonSlideNextContent{
    width: 40px;
    height: 37px;
    border-radius: 99px;
    background-color: var(--box-mid-dark-red);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <992px) {
    .actionButtons{
        flex-direction: row;
    }

    .largeInput{
        width: 170px;
    }
}

